html {
  background-color: $color-golden !important;
}

body {
  background-color: $color-golden !important;
  border-top: 8px solid $color-green;
}

h6 {
  font-size: 17px !important;
  font-weight: 600;
}

a {
  text-decoration: none;
}
