// Colors
$color-golden: #FFA81E;
$color-golden-darker: #2F2612;
$color-matterhorn: #4A3642;
$color-blue: #00697F;
$color-green: #06D491;
$color-red: #E93A4F;
$color-anthracite: #424242;
$color-anthracite-blue: #2a373c;
$color-facebook: #4267B2;
